.navbarIcon{
    width: 100px;
    height: auto;
}

.nav {
    padding: 0
}

.icon{
    width: 30px;
    height: auto;
}

footer{
    width: 100%;
    left: 0;
    bottom: 12%;
}
.footernav{
    width: 100%;
    position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
}