body {
    overflow: auto;
    padding: .5%;
}

h5 {
    text-align: center;
}

.navbarIcon{
    width: 100px;
    height: auto;
}

.nav{
    padding: 0
}

a:hover{
    text-decoration: underline !important;
    font-weight: bold;
    
}

.icon{
    width: 30px;
    height: auto;
}

.promotionBox{
    width: 30%;
}

.promotionBox:hover{
    background-color: grey;
    opacity: 25%;

}

footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footerItem {
    margin: 0 10px;
}

#socialMedia{
    justify-content: center;
}

.footernav {
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyRight{
    font-size: small;
    margin: 0%;
}
